@{
    ViewBag.Title = "About";
}

<div class="jumbotron jumbotron-fluid" style="background-color: #FFE69A">
    <div class="container">
        <h1 class="display-4">The Cause</h1>
        <p class="lead">End Poverty. End Unemployment</p>
    </div>
</div>

<div class="container"> 
    <div class="row"> <!--bootstrap grid and cards giving some extra insight into the cause-->
        <div class="col-sm-8">
            <div class="card border-warning">
                <div class="card-body">
                    <h5 class="card-title">The Problem</h5>
                    <p class="card-text">More than 700 million people, or 10 per cent of the world population, still live in extreme poverty today, struggling to fulfil the most basic needs like health, education, and access to water and sanitation, to name a few. The majority of people living on less than $1.90 a day live in sub-Saharan Africa. Worldwide, the poverty rate in rural areas is 17.2 per cent—more than three times higher than in urban areas. </p>
                    <p class="card-text">According to the Quarterly Labour Force Survey (QLFS) for the first quarter of 2022, the unemployment rate was 63,9% for those aged 15-24 and 42,1% for those aged 25-34 years, while the current official national rate stands at 34,5%.</p>
                    <a href="#https://www.un.org/sustainabledevelopment/poverty/" class="card-link">Poverty Stats</a>
                    <a href="https://www.statssa.gov.za/?p=15407#:~:text=According%20to%20the%20Quarterly%20Labour,stands%20at%2034%2C5%25." class="card-link">Unemployment Stats</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-warning" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/Unemployment.jpeg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Poverty and Unemployment in South Africa</p>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-sm-4">
            <div class="card border-warning" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/AndreConnor.JPEG" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">Andre and I, posing for a picture after the interview.</p>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="card border-warning">
                <div class="card-body">
                    <h5 class="card-title">The Idea</h5>
                    <p class="card-text">Informatics 271 released an assignment in which they tasked groups of 5 to scout and find an organisation and then to conduct an interview, learning about their systems. The organisation I worked with, Tuniti, was a recent start-up that aimed to solve unemployment in South Africa. </p>
                    <p>Andre, the founder of Tuniti, told me that he needed a painter for his house. He approached a taxi-rank in midstream and asked the men standing there if any of them knew how to paint. All of a sudden, 50 men flocked the car, desperately wanting the job. The problem with this is that there is no way to vet any of these men. You cannot tell who is great at painting and who merely just wants a job. </p>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="row">
        <div class="col-sm-8">
            <div class="card border-warning">
                <div class="card-body">
                    <h5 class="card-title">The Solution</h5>
                    <p class="card-text">Andre came up with the system in which unemployed people can download this application, where they are able to find available jobs nearby. Similarly, to uber, available jobs will be posted, and the worker can decide whether or not they want to work. The application allows the employer to see previous courses done by the worker, how many jobs they have done and be able to view their rating and feedback from past employers. This adds a level of trust that previously did not exist. The vision for the application is that employers will eventually stop using the app and start contacting that worker directly, because they trust them so much.  </p>
                    <p class="card-text">Tuniti, is still in its very early stages. Andre approached the university because he heard of the Informatics 370 program and wanted to work along side some young minds. I believe that this application does have potential to solve unemployment.</p>
                    <a href="https://tuniti.co.za/" class="card-link">Tuniti</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card border-warning" style="width: 18rem;">
                <img class="card-img-top" src="~/Images/TunitiMan.JPG" alt="Card image cap">
                <div class="card-body">
                    <p class="card-text">The organisation called Tuniti.</p>
                </div>
            </div>
        </div>
    </div>

    <br />
    <br />

    <div class="row"> <!--i added this just for fun, however i highly recommend watching the linked video, as its on an actual prototype created for this cause-->
        <div class="col">
            <div class="card border-warning">
                <div class="card-body">
                    <h5 class="card-title">The Prototype</h5>
                    <p class="card-text">My group partner and I spent a good amount of hours during the recess planning and prototyping the application so that Andre could take it to potential stakeholders.  </p>
                    <p class="card-text">The application has only been front end developed. However, we are one step closer to making this a reality.</p>
                    <a href="https://youtu.be/bB7dNdKDhWk" class="card-link">The Prototype</a>
                </div>
            </div>
        </div>
    </div>

</div>

